body {
  margin: 0 auto;
  font-size: 14px;
}

a, a:visited, a:active {
  color: inherit;
}

* {
  word-wrap: break-word;
}

hr {
/*  color: #f5f5f5;*/
/*  border-top: 1px solid #f5f5f5;*/
/*  border-bottom: 0;*/
/*  border-left: 0;*/
/*  border-right: 0;*/
}

p {
  line-height: 1.75em;
}

h1,h2,h3,h4,h5,h6 {
/*  border-bottom: 1px solid #f5f5f5;*/
}

ul,ol {
  padding-left: 30px;
}

img {
  max-width: 100%
}

.header, .reply {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.title {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.info {
  flex: 1;
  font-size: 12px;
}

.info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  height: auto;
  padding: 2px 3px;
  border-radius: 3px;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.avatar-sm {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.content {
  padding: 10px 10px 0 10px;
}
.content p:first-child {
    margin-top: 0;
}
.content p:last-child {
    margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 5px 10px;
}

.blockquote_Default {
    background-color: #f2f3f5;
    border-left: 4px solid #ccc;
}

.blockquote_Dark {
    background-color: #201f24;
    border-left: 4px solid #333;
}

pre {
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

.pre_Default, .hr_Default {
    background-color: #f2f3f5;
}

.pre_Dark, .hr_Dark {
    background-color: #201f24;
}

.reply {
  padding-bottom: 0;
}
.reply-content {
  padding: 0 10px;
}

.reply-content:last-child {
  border: 0;
}

.content p:last-child {
  padding-bottom: 10px;
}

.panel {
  padding: 5px 10px;
}
.no-more {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.op {
  font-weight: 700;
  color: #80bd01;
}
.divide_Default {
    border-bottom: 1px solid #f2f3f5;
}
.divide_Dark {
    border-bottom: 1px solid #201f24;
}
.cellBackground_Default {
    background-color: #fff;
}
.cellBackground_Dark {
    background-color: #232227;
}
.background_Default {
    background-color: #f2f3f5;
}
.background_Dark {
    background-color: #201f24;
}
.title_Default {
    color: #0f0f0f;
}
.title_Dark {
    color: #919191;
}
.username_Default {
    color: #353535;
}
.username_Dark {
    color: #7d7d7d;
}
.time_Default {
    color: #778087;
}
.time_Dark {
    color: #778087;
}
.tabBackgroundColor_Default {
    background-color: #f3f3f3;
}
.tabBackgroundColor_Dark {
    background-color: #282828;
}
