body {
  margin: 0 auto;
  font-size: 14px;
}

* {
  word-wrap: break-word;
}

hr {
  color: #f5f5f5;
  border-top: 1px solid #f5f5f5;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

p {
  line-height: 1.75em;
}

h1,h2,h3,h4,h5,h6 {
  border-bottom: 1px solid #f5f5f5;
}

ul,ol {
  padding-left: 30px;
}

img {
  max-width: 100%
}

.header, .reply {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.title {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
}

.info {
  flex: 1;
  color: #555;
  font-size: 12px;
}

.info .loginname {
  color: #222;
}

.info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  height: auto;
  padding: 2px 3px;
  border-radius: 3px;
  background-color: #eee;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.avatar-sm {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}

.content {
  padding: 0 10px;
}

blockquote {
  background-color: #eee;
  border-left: 4px solid #aaa;
  margin: 0;
  padding: 5px 10px;
}

pre {
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
  overflow-x: auto;
}

.reply {
  padding-bottom: 0;
}
.reply-content {
  padding: 0 10px;
}

.tap {
  border-bottom: 1px solid #eee;
}

.reply-content:last-child {
  border: 0;
}

.content p:last-child {
  margin-bottom: 10px;
}

.panel {
  color: #333;
  background-color: #eee;
  padding: 10px;
}
.no-more {
  background-color: #eee;
  color: #888;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.op {
  font-weight: 700;
  color: #6ba44e;
}
