<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no" />
  <link rel="stylesheet" href="app.css">
  <script src="underscore.min.js"></script>
  <script src="moment.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/template" id="tpl">
    <div class="header">
      <img src="<%=author.avatar_url%>" class="avatar to-user-center" data-loginname="<%=author.loginname%>"/>
      <div class="info">
        <div class="info1">
          <div class="loginname to-user-center" data-loginname="<%=author.loginname%>"><%=author.loginname%></div>
          <div class="tab">
            <% if(tab === 'share') { %>
              分享
            <% } else if(tab === 'ask') { %>
              问答
            <% } else if(tab === 'dev') { %>
              调试
            <% } else if(tab === 'blog') { %>
              博客
            <% } else if(tab === 'job') { %>
              招聘
            <% } %>
          </div>
        </div>
        <div>发布于 <%=moment(create_at).fromNow()%>&nbsp;•&nbsp;<%=visit_count%>次浏览</div>
      </div>
    </div>
    <div class="title">
      <% if (good) { %>
        [精]
      <% } %>
      <%=title%>
    </div>
    <hr>
    <div class="content"><%=content%></div>
    <div class="panel">
      <%=replies.length%>回复
    </div>
    <div class="replies">
      <% _.each(replies, function(v, i) { %>
        <div class="tap" data-id="<%=v.id%>" data-loginname="<%=v.author.loginname%>">
          <div class="reply">
            <img src="<%=v.author.avatar_url%>" class="avatar-sm to-user-center" data-loginname="<%=v.author.loginname%>"/>
            <div class="info">
              <div class="info1">
                <div class="loginname to-user-center" data-loginname="<%=v.author.loginname%>">
                  <%=v.author.loginname%>
                  <% if(v.author.loginname === author.loginname){ %>
                    <span class="op">[楼主]</span>
                  <% } %>
                </div>
              </div>
              <div><%=i + 1%>楼&nbsp;•&nbsp;发布于 <%=moment(v.create_at).fromNow()%></div>
            </div>
          </div>
          <div class="reply-content"><%=v.content%></div>
        </div>
      <% }) %>
    </div>
    <% if(replies.length > 0){ %>
      <div class="no-more">没有更多回复了</div>
    <% } %>
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    function init(topic) {
      var appTpl = _.template(document.getElementById('tpl').innerHTML);
      document.getElementById("app").innerHTML = appTpl(topic.data);

      // 点击回复列表里用户名事件
      var loginnameDoms = document.getElementsByClassName('to-user-center');
      for (var iii = 0; iii < loginnameDoms.length; iii++) {
        (function (index) {
          var loginname = loginnameDoms[index].getAttribute('data-loginname');
          loginnameDoms[index].addEventListener('click', function (event) {
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "to_user_center", "loginname": loginname })
            );
            event.stopPropagation()
          }, false);
        })(iii)
      }

      // 点击回复列表事件
      var replyDoms = document.getElementsByClassName('tap');
      for (var i = 0; i < replyDoms.length; i++) {
        (function (index) {
          var reply_id = replyDoms[index].getAttribute('data-id');
          var loginname = replyDoms[index].getAttribute('data-loginname');
          replyDoms[index].addEventListener('click', function (event) {
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "click_reply", "reply_id": reply_id, "loginname": loginname })
            );
            event.stopPropagation()
          }, false);
        })(i)
      }
    }

  </script>
</body>

</html>