<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no" />
  <link rel="stylesheet" href="app.css">
  <script src="underscore.min.js"></script>
  <script src="moment.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/template" id="tpl">
    <div class="header cellBackground_<%=_theme%>">
      <img src="<%=author.avatar_url%>" class="avatar to-user-center" data-loginname="<%=author.loginname%>"/>
      <div class="info">
        <div class="info1">
          <div class="loginname username_<%=_theme%> to-user-center" data-loginname="<%=author.loginname%>"><%=author.loginname%></div>
          <div class="tab tabBackgroundColor_<%=_theme%> time_<%=_theme%>">
            <% if(tab === 'share') { %>
              <%=locale.tab_share%>
            <% } else if(tab === 'ask') { %>
              <%=locale.tab_ask%>
            <% } else if(tab === 'dev') { %>
              <%=locale.tab_dev%>
            <% } else if(tab === 'blog') { %>
              <%=locale.tab_blog%>
            <% } else if(tab === 'job') { %>
              <%=locale.tab_job%>
            <% } %>
          </div>
        </div>
        <div class="time_<%=_theme%>"><%=locale.topic_create_at%> <%=moment(create_at).fromNow()%>&nbsp;•&nbsp;<%=visit_count%><%=locale.topic_visit_count%></div>
      </div>
    </div>
    <div class="divide_<%=_theme%>"></div>
    <div class="title title_<%=_theme%> cellBackground_<%=_theme%>">
      <% if (good) { %>
        [精]
      <% } %>
      <%=title%>
    </div>
    <div class="divide_<%=_theme%>"></div>
    <div class="content title_<%=_theme%> cellBackground_<%=_theme%> deal-link">
      <%=content%>
    </div>
    <div class="divide_<%=_theme%>"></div>
    <div class="panel title_<%=_theme%>">
      <%=replies.length%> <%=locale.replies%>
    </div>
    <div class="divide_<%=_theme%>"></div>
    <div class="replies cellBackground_<%=_theme%>">
      <% _.each(replies, function(v, i) { %>
        <div class="tap" data-id="<%=v.id%>" data-loginname="<%=v.author.loginname%>">
          <div class="reply">
            <img src="<%=v.author.avatar_url%>" class="avatar-sm to-user-center" data-loginname="<%=v.author.loginname%>"/>
            <div class="info">
              <div class="info1">
                <div class="loginname to-user-center username_<%=_theme%>" data-loginname="<%=v.author.loginname%>">
                  <%=v.author.loginname%>
                  <% if(v.author.loginname === author.loginname){ %>
                    <span class="op">[<%=locale.reply_author%>]</span>
                  <% } %>
                </div>
              </div>
              <div class="time_<%=_theme%>"><%=i + 1%><%=locale.reply_floor%>&nbsp;•&nbsp;<%=locale.topic_create_at%> <%=moment(v.create_at).fromNow()%></div>
            </div>
          </div>
          <div class="reply-content deal-link title_<%=_theme%>"><%=v.content%></div>
        </div>
        <div class="divide_<%=_theme%>"></div>
      <% }) %>
    </div>
    <% if(replies.length > 0){ %>
      <div class="no-more title_<%=_theme%>"><%=locale.reply_no_more%></div>
    <% } %>
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    function init(topic) {
      var appTpl = _.template(document.getElementById('tpl').innerHTML);
      moment.locale(topic.data.locale.time_i18n);
      document.body.className = "background_" + topic.data._theme
      document.getElementById("app").className = "background_" + topic.data._theme
      document.getElementById("app").innerHTML = appTpl(topic.data);

      // 点击回复列表里用户名事件
      var loginnameDoms = document.getElementsByClassName('to-user-center');
      for (var iii = 0; iii < loginnameDoms.length; iii++) {
        (function (index) {
          var loginname = loginnameDoms[index].getAttribute('data-loginname');
          loginnameDoms[index].addEventListener('click', function (event) {
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "to_user_center", "loginname": loginname })
            );
            event.stopPropagation()
          }, false);
        })(iii)
      }

      // 处理内容中链接的点击
      var linkDoms = document.querySelectorAll('.deal-link a');
      for (var i = 0; i < linkDoms.length; i++) {
        (function (index) {
          var href = linkDoms[index].getAttribute('href');
          linkDoms[index].addEventListener('click', function (event) {
            // 阻止链接跳转
            event.preventDefault();
            // 跟app交互处理链接打开方式
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "click_a", "href": href })
            );
            event.stopPropagation();
          }, false);
        })(i)
      }

      // 处理内容中图片的点击
      var imgDoms = document.querySelectorAll('.deal-link img');
      for (var i = 0; i < imgDoms.length; i++) {
        (function (index) {
          var img_src = imgDoms[index].getAttribute('src');
          imgDoms[index].addEventListener('click', function (event) {
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "click_img", "img_src": img_src })
            );
            event.stopPropagation();
          }, false);
        })(i)
      }

      // 点击回复列表事件
      var replyDoms = document.getElementsByClassName('tap');
      for (var i = 0; i < replyDoms.length; i++) {
        (function (index) {
          var reply_id = replyDoms[index].getAttribute('data-id');
          var loginname = replyDoms[index].getAttribute('data-loginname');
          replyDoms[index].addEventListener('click', function (event) {
            window.webkit.messageHandlers.AppModel.postMessage(
              JSON.stringify({ "type": "click_reply", "reply_id": reply_id, "loginname": loginname })
            );
            event.stopPropagation()
          }, false);
        })(i)
      }
    }

  </script>
</body>

</html>
